
$linen: #FFEBE8;
$dark-gray: #a1a1a1;
$black: #000000;
$granite_gray: #585151;
$spanish_gray: #989595;
$chinese_white: #E1E1E1;
$bright_gray: #EDEDED;
$cultured: #F5F5F5;
$white: #FFFFFF;
$light-tomato:#fff5f3;

/*Shadow*/
$shadow: rgba(0, 0, 0, 0.16);